/* ~~~~~~~~~~~~~~~~~~~~~ COMMON RULES ~~~~~~~~~~~~~~~~~~~~~~*/

body
{
 font-family:Circular,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
 margin:0;
}



.bold
{
  font-weight: bold;
}

a, h3, figcaption, h2, p
{
  text-decoration: none;
  color: rgba(72, 72, 72, 1)
}

/* ELEMENTS EN TROP VERSION MOBILE */

header .recherchetablet, header table, footer .footer1 article, section article div .imagetablet, section article div .imagedesktop, footer .footer1 article, header .bandeau .lienbandeau
{
  display: none;
}




/*~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~*/

header .bandeau
{
  width: 70%;
  height: 64px;
  display: inline-flex;
  flex-direction: row-reverse;
  float: right;

}

header .mainlogo
{
  margin-left: 20px;
  margin-top: 20px;
}

header .bandeau .mainlogo a
{
  display: inline-block;
  margin-left: 30px;
}

header .bandeau .mainlogo a img
{
  margin: auto;
  vertical-align: middle;
}

header h1
{
  width: 80%;
  margin: auto;
  margin-top: 25px;
  font-size: 1.4em;
  color:rgba(72, 72, 72, 1);
}

header h1 span
{
  color: rgba(255, 90, 95, 1);
  font-weight: bold;
}



header .recherchemobile
{
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 42px;
  width: 85%;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
}

header .recherchemobile a
{
  text-overflow: hidden;
  white-space: nowrap;
  align-items: center;
  margin: auto;
  margin-left: 5px;
  color:rgba(72, 72, 72, 1);
}


/*~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~*/
header nav
{
  margin-left: 12px;
  margin-top: 20px;
  height: 42px;
  overflow-y: hidden;
}

header nav a
{
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  margin: 10px;
  color:rgba(72, 72, 72, 0.8);
}

.pagelien
{
  border-bottom: 3px solid rgba(0, 132, 137, 1);
  color: rgba(0, 132, 137, 1);
}

.ligne
{
  width: 85%;
  margin-left: 22px;
  margin-top: 0;
}
/*~~~~~~~~~~~~~~~ END OF NAV ~~~~~~~~~~~~~~~*/





/*~~~~~~~~~~~~~~~ SECTION ARTICLES~~~~~~~~~~~~~~~*/






/*~~~~~~~~~~~~~~~ SECTION ARTICLES COMMON RULES ALL LINES ~~~~~~~~~~~~~~~*/
section .firstline, section .secondline, section .thirdline, section .fourthline, section .fifthline
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

section .firstline h3, section .secondline h3, section .thirdline h3, section .fourthline h3, section .fifthline h3
{
  display: block;
  margin-left: 20px;
}

section .firstline div, section .secondline div, section .thirdline div, section .fourthline div, section .fifthline div
{
  width: 95%;
  margin-left: 15px;
  display:inline-flex;
  justify-content: flex-start;
}


section .firstline figcaption, section .secondline figcaption, section .thirdline figcaption, section .fourthline figcaption, section .fifthline figcaption
{
  height: 15%;
  overflow: hidden;
  font-size: 0.9em;
}


section .firstline figure img, section .secondline figure img, section .thirdline figure img, section .fourthline figure img, section .fifthline figure img
{
  height:auto;
  width: 100%;
}

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES COMMON RULES ALL LINES ~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FIRST & SECOND LINE~~~~~~~~~~~~~~~*/
section .firstline figure, section .secondline figure
{
  height:auto;
  min-width: 112px;
  margin:5px;
}
/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FIRST & SECOND LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES THIRD LINE~~~~~~~~~~~~~~~*/
section .thirdline figure
{
  height:auto;
  min-width: 112px;
  margin: 5px;
}

section .thirdline figcaption
{
  height: 19%;
}
/*~~~~~~~~~~~~~~~ END SECTION ARTICLES THIRD LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FOURTH LINE~~~~~~~~~~~~~~~*/
section .fourthline figure
{
  height:auto;
  min-width: 70px;
  margin-left: 5px;
}

section .fourthline figcaption
{
  height: 12%;
}
/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FOURTH LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FIFTH LINE~~~~~~~~~~~~~~~*/

section .fifthline figure
{
  height:auto;
  min-width: 43px;
  width: 100%;
  margin: 0;
}

section .fifthline div
{
  display: flex;
  flex-direction: column;
  width: 65%;
}

section .fifthline .lienrevenus
{
  width: 180px;
  height: 35px;
  background-color: rgba(0, 132, 137, 1);
  margin-left: 0;
  border-radius: 4px;
}

section .fifthline .lienrevenus a
{
  color: white;
  margin: auto;
  font-weight: bold;
}

section .fifthline h2
{
  margin-left: 15px;
  font-size: 1.5em;
  width: 65%;
}

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FIFTH LINE~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ END SECTION ARTICLES IMAGES~~~~~~~~~~~~~~~*/


















/*~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~*/

footer
{
  margin-top: 50px;
  border-top: 1px solid;
  border-top-color: rgba(0, 0, 0, 0.2);
}

footer .footer1
{
  margin-top: 30px;
  margin-left: 15px;
  display:inline-flex;
  justify-content: space-between;
  width: 90%;
}

footer .footer1 .select
{
  background: transparent;
  width: 47%;
  font-size: 30px;
  line-height: 1;
  border: 0;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
  overflow: hidden;
}
/*width:80%;
margin: auto;
background-color: yellow;
height: 50px;
display: flex;
justify-content: space-between;*/

footer .footer1 div select
{
  width: 200px;
  height: 65px;
  background-color: white;
}


  /*
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url(images/selecteur.png);
   width: 48%;
   height: 45px;
*/

footer .footer2
{
  width: 90%;
  margin-left: 15px;
  margin-top: 30px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid rgba(0, 0, 0, 0.2) ;
}

footer .footer2 a
{
  margin:3px;
}


/*~~~~~~~~~~~~~~~ END OF FOOTER~~~~~~~~~~~*/












@media (min-width: 768px)
{


/* ~~~~~~~~~~~~~~~~~~~~~ COMMON RULES ~~~~~~~~~~~~~~~~~~~~~~*/


/* ELEMENTS SUPPRIMES / AJOUTES VERSION TABLET */
header .recherchemobile
{
  display: none;
}


/*~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~*/
header h1
{
  width: 95%;
  font-size:2.6em;
}

header .recherchetablet
{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

header .recherchetablet a
{
  width: 30%;
  height: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  border-width: thin;
  padding: 8px;
}

header .recherchetablet .lienmilieu
{
  border-left: none;
  border-right: none;
}
/*~~~~~~~~~~~~~~~ END OF HEADER ~~~~~~~~~~~~~~~*/





/*~~~~~~~~~~~~~~~ SECTION ARTICLES~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ SECTION ARTICLES COMMON RULES ALL LINES ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES COMMON RULES ALL LINES ~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FIRST & SECOND LINE~~~~~~~~~~~~~~~*/
.firstline div .imagetablet
{
  display: block;
}

.secondline div .imagetablet
{
  display: block;
}
/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FIRST & SECOND LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES THIRD LINE~~~~~~~~~~~~~~~*/
.thirdline div .imagetablet
{
  display: block;
}
/*~~~~~~~~~~~~~~~ END SECTION ARTICLES THIRD LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FOURTH LINE~~~~~~~~~~~~~~~*/
.fourthline div .imagetablet
{
  display: block;
}
/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FOURTH LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FIFTH LINE~~~~~~~~~~~~~~~*/
section .fifthline
{
  display:flex;
  flex-direction: column;
}

section .fifthline figure
{
  height:auto;
  min-width: 43px;
  width: 50%;
  margin: 0;
}




/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FIFTH LINE~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~ END SECTION ARTICLES IMAGES~~~~~~~~~~~~~~~*/









/*~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~*/
footer .footer1 article
{
  display: inline-block;
  width: 150px;
}

footer .footer1 article h5
{
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}


footer .footer1 article li
{
  list-style: none;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}


footer .footer1
{
  display: flex;
  flex-direction: row;
  width: 90%;
}

footer .footer1 .select
{

}


footer .footer2
{
  display: inline-flex;
  width: 90%;
  align-items: center;
}

/*~~~~~~~~~~~~~~~ END OF FOOTER~~~~~~~~~~~*/
}


















@media (min-width: 1024px)
{


/* ~~~~~~~~~~~~~~~~~~~~~ COMMON RULES ~~~~~~~~~~~~~~~~~~~~~~*/


/* ELEMENTS SUPPRIMES / AJOUTES VERSION TABLET */
header .recherchetablet
{
  display: none;
}

.firstline div .imagedesktop
{
  display: block;
}

.secondline div .imagedesktop
{
  display: block;
}

.fourthline div .imagedesktop
{
  display: block;
}


/*~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~*/
header .bandeau .lienbandeau
{
  display: inline;
  margin: 8px;

}

header h1
{
  width: 45%;
  margin-left: 100px;
}

header table
{
  display: block;
  border-collapse: collapse;
  width: 80%;
  margin:auto;
  margin-top: 60px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

header table tr td
{
  width: 400px;
  height: 30px;
}

.l1c1 , .l2c1
{
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(72, 72, 72,1);
}

.l1c2 , .l2c2
{
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(72, 72, 72,1);
}

.l1c3
{
  color: rgba(72, 72, 72,1);
}

.l1c4 input
{
  background-color: rgba(255, 90, 95, 1);
  color:white;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 120px;
  margin-left: 50%;
}

.l2c1 input
{
  border: none;
  color: rgba(72, 72, 72,1);
}





/*~~~~~~~~~~~~~~~ END OF HEADER ~~~~~~~~~~~~~~~*/





/*~~~~~~~~~~~~~~~ SECTION ARTICLES~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ SECTION ARTICLES COMMON RULES ALL LINES ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES COMMON RULES ALL LINES ~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FIRST & SECOND LINE~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FIRST & SECOND LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES THIRD LINE~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES THIRD LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FOURTH LINE~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FOURTH LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ SECTION ARTICLES FIFTH LINE~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ END SECTION ARTICLES FIFTH LINE~~~~~~~~~~~~~~~*/




/*~~~~~~~~~~~~~~~ END SECTION ARTICLES IMAGES~~~~~~~~~~~~~~~*/







/*~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ END OF FOOTER~~~~~~~~~~~*/
}
